.portfolio {
    background: #ffffff;
}

.portfolio__container {
    padding: 0 70px 125px 70px;
    max-width: 1280px;
}

.portfolio__header {
    color: #a0a0a0;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 30px;
    padding-top: 3px;
}

.portfolio__list {
    padding-bottom: 125px;
}

.portfolio__work {
    padding: 20px 0;
    border-bottom: 1px solid #e8e8e8;
    transition: transform 0.5s;
}

.portfolio__work:hover {
    transform: rotate(-1deg);
}

.portfolio__work:last-of-type {
    border-bottom: none;
    padding-bottom: 0px;
}

.portfolio__link {
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    display: flex;
    background-image: url(../../images/pointer.svg);
    background-repeat: no-repeat;
    background-position: top 18px right 6px;
    background-size: 18px;
    padding-right: 30px;
}

@media screen and (max-width: 850px) {
    .portfolio__link {
        font-size: 28px;
        line-height: 50px;
    }
    .portfolio__list {
        padding-bottom: 90px;
    }
    .portfolio__work {
        padding: 19px 0;
    }
}

@media screen and (max-width: 400px) {
    .portfolio__header {
        font-size: 14px;
        line-height: 20px;
        padding-top: 0;
        padding-bottom: 21px;
    }
    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
        background-position: top 7px right 5px;
        background-size: 10px;
    }
    .portfolio__work {
        padding: 20px 0 19px;
    }
    .portfolio__list {
        padding-bottom: 70px;
    }
}