  h1,
  h2,
  h3,
  p,
  ul,
  li {
      padding: 0;
      margin: 0;
      font-weight: 400;
      list-style: none;
  }
  
  a {
      cursor: pointer;
      text-decoration: none;
      color: black;
  }
  
  #root {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-weight: 400;
      min-width: 320px;
      padding: 0;
      margin: 0;
  }
  
  .logo {
      transition: transform 0.5s;
  }
  
  .logo:hover {
      transform: scale(1.3);
  }
  
  .section__container {
      padding: 110px 70px 0;
      max-width: 1280px;
      margin: 0 auto;
      box-sizing: border-box;
  }
  
  .section__container_higher {
      padding-top: 98px;
  }
  
  .section__header {
      font-size: 22px;
      line-height: 27px;
      letter-spacing: -0.04em;
      padding-bottom: 23px;
      border-bottom: 1px solid #000000;
  }
  
  @media screen and (max-width: 850px) {
      .section__container {
          padding: 90px 50px 0;
      }
      .section__container_higher {
          padding-top: 90px;
      }
  }
  
  @media screen and (max-width: 400px) {
      .section__container {
          padding: 70px 18px 0;
      }
      .section__container_higher {
          padding: 70px 18px 0;
      }
      .section__header {
          font-size: 18px;
          line-height: 22px;
          padding-bottom: 28px;
      }
      .section__container_narrow {
          padding: 70px 14px 0;
      }
  }
  
  .form {
      /* width: 396px; */
      display: flex;
      flex-direction: column;
  }
  
  .form__input {
      margin: 10px 0 20px;
      padding: 15px;
      border: none;
      background: #f9f9f9;
      border-radius: 8px;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: #000000;
  }
  
  .form__input:last-of-type {
      margin-bottom: 10px;
  }
  
  .form__label {
      font-size: 10px;
      line-height: 12px;
      color: #a0a0a0;
  }
  
  .form__span {
      font-size: 10px;
      line-height: 12px;
      color: #ff3055;
  }
  
  @media screen and (max-width: 400px) {}