.header__container {
    min-height: 74px;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (max-width: 850px) {
    .header__container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 400px) {
    .header__container {
        padding: 0 14px;
    }
}